@model IEnumerable<WorkItem>

@{
    ViewData["Title"] = "Index";
}

<h1 class="">My Open Work Items</h1>

<table class="table table-responsive table-bordered table-hover">
    <thead>
        <tr>
            <th class="col-md-2">Title</th>
            <th class="col-md-6">Description</th>
            <th class="col-md-2">Due Date</th>
            <th class="col-md-2">Last Updated</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{

        <tr>
            <td>
                <a asp-controller="WorkItem" asp-action="itemdetail" asp-route-id="@item.WorkItemId" >@item.Title</a>
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.DueDate.ToString("d")
                @if (item.DueDate < DateTime.Now)
                {
                    <code class="code">[OVERDUE]</code>
                }
            </td>
            <td>
                @TimeZoneInfo.ConvertTime(item.LastUpdated, (TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time"))).ToString("g")
            </td>
        </tr>
}
    </tbody>
</table>