@model IEnumerable<WorkItem>

@{
    ViewData["Title"] = "Index";
}

<h1>My Work Items</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Last Updated</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                <a asp-controller="WorkItem" asp-action="itemdetail" asp-route-id="@item.WorkItemId" >@item.Title</a>
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.DueDate.ToShortDateString()
            </td>
            <td>
                @item.LastUpdated.ToLocalTime()
            </td>
        </tr>
}
    </tbody>
</table>