@model TeamViewPoC.Models.ViewModels.WorkItemDetailViewModel

@{
    ViewData["Title"] = "ItemDetail";
}

<h1>ItemDetail</h1>
<div>
    <h2>@Model.WorkItem.Title</h2>
    <p>@Model.WorkItem.Description</p>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Note</th>
                <th>Created By</th>
                <th>Created On</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var note in Model.WorkItem.Notes)
            {
                <tr>
                    <td>@note.NoteContent</td>
                    <td>@note.CreatedBy</td>
                    <td>@note.CreatedOn</td>
                </tr>
            }
        </tbody>
    </table>
</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add Note</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add a note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Add" asp-controller="Note">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Note.NoteContent" class="control-label"></label>
                        <textarea asp-for="Note.NoteContent" class="form-control" rows="10" cols="75"></textarea>
                        <span asp-validation-for="Note.NoteContent" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                    <input id="itemId" name="itemId" type="hidden" value="@Model.WorkItem.WorkItemId">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
